/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f5;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.main-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
ul.course-links {
    list-style-type: none;
    padding-left: 0;
}

ul.course-links li {
    margin-bottom: 10px; 
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.button:hover {
    background-color: #0056b3;
}

.section {
    margin-bottom: 30px;
}
nav ul {
list-style-type:none;
padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  nav ul li a::before {
    content: '→ ';
    color: blue;
  }
  .hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
    .menu {
      display: none;
      flex-direction: column;
      gap: 15px;
    }
    .menu.active {
      display: flex;
    }
    nav ul li {
      display: block;
    }
  }